:root {
  --border-radius-small: 5px;
  --border-radius-medium: 12px;
  --border-color: #333;
  --background-primary: #f3e9dc;
  --background-secondary: #5e3023;
  --font-small: 1rem;
  --font-medium: 1.2rem;
  --font-large: 1.5rem;
  --flex-gap: 16px;
}

/* Reset default settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* Main styling */
body {
  height: 100%;
  background-color: var(--background-primary);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
  position: relative;
}

#quote-section {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-note {
  padding: 0 2rem;
  text-align: center;
}

.nav-link-container {
  text-align: center;
  display: block;
}

.quote-container,
.saved-quote {
  padding: 1rem;
  background-color: var(--background-secondary);
  min-height: 350px;
  width: 420px;
  border-radius: var(--border-radius-medium);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  margin: auto;
  position: relative;
}

.quote-container .quote-btn {
  border: 3px solid var(--border-color);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  font-size: var(--font-medium);
  background-color: var(--background-primary);
  padding: 10px 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 300ms;
}

.quote-container .quote-btn:hover {
  background-color: #d9c7ae;
}

.quote-container .quote-actions {
  display: flex;
  gap: 6px;
}

.quote-container .quote-actions .save-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--background-primary);
  fill: var(--background-primary);
  border: none;
  margin: auto;
  cursor: pointer;
}

.quote-container .quote-text,
.saved-quote .quote-text {
  font-size: var(--font-medium);
}

.quote-container .quote-author,
.quote-container .quote-series {
  display: block;
  font-size: var(--font-medium);
  text-align: center;
}

@media screen and (max-width: 430px) {
  .quote-container {
    width: 90%;
  }
}

/* Dynamic styling */

.error-message-container {
  position: absolute;
  max-width: 90%;
  width: fit-content;
  min-height: fit-content;
  background-color: #8d4d3b;
  border-radius: var(--border-radius-medium);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #fff;
  gap: var(--flex-gap);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.error-message-container .close-btn {
  padding: 8px 32px;
  border: none;
  background-color: var(--background-secondary);
  color: #fff;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.hide {
  display: none;
}

/* other pages styling */
.saved-quotes-container,
.shared-quotes-container {
  max-width: 1080px;
  width: 85%;
  margin: auto;
  padding: 60px 0;
}

.saved-quotes-container .saved-quotes-header,
.shared-quotes-container .shared-quotes-header {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-quotes-container .saved-quotes-title,
.shared-quotes-container .shared-quotes-title {
  font-size: var(--font-large);
  font-weight: 500;
}

.saved-quote {
  margin-bottom: 16px;
  min-height: 100%;
  min-width: 100%;
}

.saved-quote .quote-author,
.saved-quote .quote-series {
  display: block;
  font-size: var(--font-small);
}

.share-link {
  text-align: right;
}
